.animals {
  height: 100%;
  width: 90%;
  background-color: white;
  margin: 6rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.animals > h1 {
  padding: 0 0;
  font-family: 'Noto Serif', serif;
}

.adoption {
  height: auto;
  width: 100%;
  text-align: center;
  
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;

}
.type {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 50px;
}

.spol {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* background-color: red; */
  margin-left: 20px;

}

.animals-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}