.animal-img,
.animal-img img {
  width: 100%;
  height: 260px;
}

.animal-card,
.additional-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  width: 25%;
  margin: 2% 2%;
  min-height: 450px;
  max-height: 5050px;
}

.animal-years,
.animal-type,
.animal-description,
.animal-adopted,
.animal-gender,
.animal-examination,
.animal-chip {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.animal-card p {
  margin: 10px 3px;
}

.animal-chip {
  flex-wrap: nowrap;
}

.animal-more-info-btn {
  margin: 5% 0;
}
