.header {
  background-color: white;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
}


.inner {
  background-color: lightcyan;
  width:90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 0 1rem;
}

.nav-bar {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Changed from space-between */
  align-items: center;
}

.nav-bar a {
  font-size: 1.3vw;
  color: black;
  margin: 0 8%;
  text-align: center;
  white-space: nowrap;
  font-family: 'Noto Serif', serif;
}

.nav-bar a:hover {
  border-bottom: 1px solid black;
  color: rgb(108, 105, 105);
}

.logo {
  margin: 0 2rem;
  height: 70px;
  width: 75px;
}

.admin-check {
  height: 20px;
  width: 20px;
}

.user-role {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-role label {
  font-family: 'Noto Serif', serif;
}

.inner {
  background-color: white;
  width:80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 0 1rem;
}

.nav-bar {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
