.header {
  background-color: white;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
}

.inner {
  background-color: white;
  width:90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 0 1rem;
  background-color: lightcoral;
}

.nav-bar {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar a {
  font-size: 1.3vw;
  color: rgb(122, 122, 122);
  width: 30%;
  margin: 0 8%;
  text-align: center;
}


.nav-bar a:hover {
  border-bottom: 1px solid black;
}

.logo {
  margin: 0 2rem;
  height: 70px;
  width: 75px;
}

