.notification {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}

.notification-header {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
}
.notification-header h2 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
}

.notification {
  background-color: white;
  margin: 1% 0;
  min-height: 150px;
  width: 80%;
}

.important {
  background-color: #8bd9b6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-important {
  background-color: rgba(
    241,
    241,
    241,
    0.806
  ) !important; /* add the !important declaration */
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-important h2 {
  text-align: center;
  color: #58a183;
  font-family: "Noto Serif", serif;
}

.alert {
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

.important-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Serif", serif;
}

.important  > .notification-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.not-important  > .notification-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.important  > .notification-header > .inner-header {
  width: 100%;
}

.inner-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.important-span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.buttons-notification {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 2% 1%;
  font-family: "Noto Serif", serif;
}

.date {
  margin: 1% 1%;
  font-family: "Noto Serif", serif;
}
